In [4]:
# Dependencies and Setup
import pandas as pd

file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file)
format_dict = {'Price':'${0:,.2f}'}
purchase_data_df1= purchase_data_df.head()
purchase_data_df1.style.format(format_dict)

## Player Count

* Display the total number of players

In [5]:

n=purchase_data_df['SN'].nunique()
dict= {"Total number of Players":[n]}
    
df= pd.DataFrame(dict)
display(df)

   Total number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
u=purchase_data_df['Item Name'].nunique()
a=purchase_data_df['Price'].mean()
p=purchase_data_df['Purchase ID'].count()
r=purchase_data_df['Price'].sum()
dict={"Number of Unique Items":[u],
      "Average Price":[a],
     "Number of Purchases":[p],
     "Total Revenue":[r]} 
format_dict = {'Average Price':'${0:,.2f}', 'Total Revenue':'${0:,.2f}'}
Summary_data_df=pd.DataFrame(dict)
display(Summary_data_df.style.format(format_dict))

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
SN_subset_df=purchase_data_df.drop_duplicates(subset=['SN'])
g=SN_subset_df.Gender
total_count=g.value_counts()
percentage=g.value_counts(normalize=True).mul(100).round(2).astype(str) +'%'
table1 = pd.DataFrame({'Total Counts':total_count,'Percentage':percentage})
table1

                       Total Counts Percentage
Male                            484     84.03%
Female                           81     14.06%
Other / Non-Disclosed            11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
df_gender = purchase_data_df.groupby("Gender")

purchase_count = df_gender['Purchase ID'].count() 
avg_purchase_price = df_gender['Price'].mean()
total_purchase_value = df_gender['Price'].sum()
purchase_value_per_player = total_purchase_value / total_count

summary_dict = ({'Gender':['Female','Males','Other/Non-Disclosed'],"Purchase Count":purchase_count,"Average Purchase Price": avg_purchase_price,"Total Purchase Value": total_purchase_value,"Avg Total Purchase per Person": purchase_value_per_player})
format_dict = {'Average Purchase Price':'${0:,.2f}', 'Total Purchase Value':'${0:,.2f}','Avg Total Purchase per Person':'${0:,.2f}'}
Summary_data1_df=pd.DataFrame(summary_dict)
Summary_data2=Summary_data1_df.set_index('Gender')
display(Summary_data2.style.format(format_dict))

# * Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
bin_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

purchase_data_df["Age groups"] = pd.cut(purchase_data_df["Age"], bins, labels=bin_labels)
df_age1 = purchase_data_df[['Age groups','SN']].drop_duplicates(subset = 'SN')

age_demographics_summary = df_age1.groupby("Age groups").count()
age_counts = age_demographics_summary['SN']
age_demographics_percentages = round(age_counts / 576 * 100, 2).astype(str) + '%'


summary_data_fr = pd.DataFrame({'Total Count':age_counts,'Percentage of Players': age_demographics_percentages})

summary_data_fr

            Total Count Percentage of Players
Age groups
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
bin_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

purchase_data_df["Age groups"] = pd.cut(purchase_data_df["Age"], bins, labels=bin_labels)

less_rows = purchase_data_df[['Age groups','SN', 'Price']]

less_rows_grouped = less_rows.groupby('Age groups')
purchase_counts = less_rows_grouped['Price'].count()
average_prices = less_rows_grouped['Price'].mean()
total_spent = less_rows_grouped['Price'].sum()
spending_per_person = total_spent/age_counts

Age_sum_dict=({'Purchase Count':purchase_counts,'Average Purchase Price': average_prices,'Total Purchase Value': total_spent,'Avg Total Purchase per Person': spending_per_person})
format_dict = {'Average Purchase Price':'${0:,.2f}', 'Total Purchase Value':'${0:,.2f}','Avg Total Purchase per Person':'${0:,.2f}'}
summary_data_fr1 = pd.DataFrame(Age_sum_dict)
display(summary_data_fr1.style.format(format_dict))

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:

sn_df = purchase_data_df.groupby('SN')
purchase_counts = sn_df['Gender'].count()
average_spending = sn_df['Price'].mean()
total_purchase = sn_df['Price'].sum()

summary1_dict = ({'Purchase Count': purchase_counts, 'Average Purchase Price':average_spending,'Total Purchase Value': total_purchase})
format_dict = {'Average Purchase Price':'${0:,.2f}', 'Total Purchase Value':'${0:,.2f}'}
summary2 =pd.DataFrame(summary1_dict).sort_values('Total Purchase Value', ascending=False).reset_index().head()
summary3= summary2.style.format(format_dict)

summary3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [23]:
df_Item = purchase_data_df.groupby(['Item ID', 'Item Name'])
purchase_counts2 = df_Item['Gender'].count()
average_spending2 = round(df_Item['Price'].mean(),2)
total_purchase2 = round(df_Item['Price'].sum(),2)

summary4_dict = ({'Purchase Count':purchase_counts2,'Item Price': average_spending2,'Total Purchase Value': total_purchase2})
format_dict = {'Item Price':'${0:,.2f}', 'Total Purchase Value':'${0:,.2f}'}

summary5 =pd.DataFrame(summary4_dict)
Summary6=summary5.sort_values('Purchase Count', ascending=False).head()
summary7= Summary6.style.format(format_dict)
summary7

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [24]:

format_dict = {'Item Price':'${0:,.2f}', 'Total Purchase Value':'${0:,.2f}'}
summary8=summary5.sort_values('Total Purchase Value', ascending=False).head()
summary8.style.format(format_dict)