In [41]:
# DESCRIBING THE DEPENDENCY AND DEFINING THE PATH

In [42]:
# Dependencies and Setup
import pandas as pd

file = "Resources/purchase_data.csv"

purchase_data_df = pd.read_csv(file)
format_dict = {'Price':'${0:,.2f}'}
purchase_data_df1= purchase_data_df.head()
purchase_data_df1.style.format(format_dict)

In [43]:
# PLAYER COUNT

In [44]:
n=purchase_data_df['SN'].nunique()
dict= {"Total number of Players":[n]}
    
df= pd.DataFrame(dict)
display(df)

   Total number of Players
0                      576

In [45]:
# PURCHASING ANALYSIS

In [46]:
u=purchase_data_df['Item Name'].nunique()
a=purchase_data_df['Price'].mean()
p=purchase_data_df['Purchase ID'].count()
r=purchase_data_df['Price'].sum()
dict={"Number of Unique Items":[u],
      "Average Price":[a],
     "Number of Purchases":[p],
     "Total Revenue":[r]} 
format_dict = {'Average Price':'${0:,.2f}', 'Total Revenue':'${0:,.2f}'}
Summary_data_df=pd.DataFrame(dict)
display(Summary_data_df.style.format(format_dict))

In [47]:
# GENDER DEMOGRAPHICS

In [48]:
SN_subset_df=purchase_data_df.drop_duplicates(subset=['SN'])
g=SN_subset_df.Gender
total_count=g.value_counts()
percentage=g.value_counts(normalize=True).mul(100).round(2).astype(str) +'%'
table1 = pd.DataFrame({'Total Counts':total_count,'Percentage':percentage})
table1

                       Total Counts Percentage
Male                            484     84.03%
Female                           81     14.06%
Other / Non-Disclosed            11      1.91%

In [49]:
# PURCHASING ANALYSIS (Gender)

In [50]:
df_gender = purchase_data_df.groupby("Gender")

purchase_count = df_gender['Purchase ID'].count() 
avg_purchase_price = df_gender['Price'].mean()
total_purchase_value = df_gender['Price'].sum()
purchase_value_per_player = total_purchase_value / total_count

summary_dict = ({'Gender':['Female','Males','Other/Non-Disclosed'],"Purchase Count":purchase_count,"Average Purchase Price": avg_purchase_price,"Total Purchase Value": total_purchase_value,"Avg Total Purchase per Person": purchase_value_per_player})
format_dict = {'Average Purchase Price':'${0:,.2f}', 'Total Purchase Value':'${0:,.2f}','Avg Total Purchase per Person':'${0:,.2f}'}
Summary_data1_df=pd.DataFrame(summary_dict)
Summary_data2=Summary_data1_df.set_index('Gender')
display(Summary_data2.style.format(format_dict))

In [51]:
# ESTABLISH BINS FOR AGES

In [52]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
bin_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

purchase_data_df["Age groups"] = pd.cut(purchase_data_df["Age"], bins, labels=bin_labels)
age_df = purchase_data_df[['Age groups','SN']].drop_duplicates(subset = 'SN')

age_demographics_summary = age_df.groupby("Age groups").count()
age_counts = age_demographics_summary['SN']
age_demographics_percentages = round(age_counts / 576 * 100, 2).astype(str) + '%'

summary_data_fr = pd.DataFrame({'Total Count':age_counts,'Percentage of Players': age_demographics_percentages})
summary_data_fr

            Total Count Percentage of Players
Age groups
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

In [53]:
# PURCHASING ANALYSIS (Age)

In [54]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
bin_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

purchase_data_df["Age groups"] = pd.cut(purchase_data_df["Age"], bins, labels=bin_labels)

age2_df = purchase_data_df[['Age groups','SN', 'Price']]

age2_df_grouped = age2_df.groupby('Age groups')
purchase_counts = age2_df_grouped['Price'].count()
average_prices = age2_df_grouped['Price'].mean()
total_spent = age2_df_grouped['Price'].sum()
spending_per_person = total_spent/age_counts

Age_sum_dict=({'Purchase Count':purchase_counts,'Average Purchase Price': average_prices,'Total Purchase Value': total_spent,'Avg Total Purchase per Person': spending_per_person})
format_dict = {'Average Purchase Price':'${0:,.2f}', 'Total Purchase Value':'${0:,.2f}','Avg Total Purchase per Person':'${0:,.2f}'}
summary_data_fr1 = pd.DataFrame(Age_sum_dict)
display(summary_data_fr1.style.format(format_dict))

In [55]:
# TOP SPENDERS

In [56]:
sn_df = purchase_data_df.groupby('SN')
purchase_counts = sn_df['Gender'].count()
average_spending = sn_df['Price'].mean()
total_purchase = sn_df['Price'].sum()

summary1_dict = ({'Purchase Count': purchase_counts, 'Average Purchase Price':average_spending,'Total Purchase Value': total_purchase})
format_dict = {'Average Purchase Price':'${0:,.2f}', 'Total Purchase Value':'${0:,.2f}'}
summary2 =pd.DataFrame(summary1_dict).sort_values('Total Purchase Value', ascending=False).reset_index().head()
summary3= summary2.style.format(format_dict)

summary3

In [57]:
#  MOST POPULAR ITEMS

In [58]:
df_Item = purchase_data_df.groupby(['Item ID', 'Item Name'])
purchase_counts2 = df_Item['Gender'].count()
average_spending2 = df_Item['Price'].mean()
total_purchase2 = df_Item['Price'].sum()

summary4_dict = ({'Purchase Count':purchase_counts2,'Item Price': average_spending2,'Total Purchase Value': total_purchase2})
format_dict = {'Item Price':'${0:,.2f}', 'Total Purchase Value':'${0:,.2f}'}
summary5 =pd.DataFrame(summary4_dict)
Summary6=summary5.sort_values('Purchase Count', ascending=False).head()
summary7= Summary6.style.format(format_dict)
summary7

In [59]:
# MOST PROFITABLE ITEMS

In [60]:
format_dict = {'Item Price':'${0:,.2f}', 'Total Purchase Value':'${0:,.2f}'}
summary8=summary5.sort_values('Total Purchase Value', ascending=False).head()
summary8.style.format(format_dict)